
[submodule "ros1_ws/src/unitree_ros"]
	path = ros1_ws/src/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "ros2_ws/src/ros1_bridge"]
	path = ros2_ws/src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
	branch = foxy
