[submodule "ros2_ws/src/unitree_ros2"]
	path = ros2_ws/src/unitree_ros2
	url = https://github.com/AlexanderJamesBecoy/unitree_ros2.git
[submodule "ros2_ws/src/libraries/unitree_sdk2"]
	path = ros2_ws/src/libraries/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
[submodule "ros2_ws/src/libraries/pointcloud_to_laserscan"]
	path = ros2_ws/src/libraries/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = foxy
[submodule "ros2_ws/src/libraries/realsense-ros"]
	path = ros2_ws/src/libraries/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-master
[submodule "ros2_ws/src/libraries/depthimage_to_pointcloud2"]
	path = ros2_ws/src/libraries/depthimage_to_pointcloud2
	url = https://github.com/AlexanderJamesBecoy/depthimage_to_pointcloud2.git
[submodule "auxiliary_sensing/lib/hp_BH1750"]
	path = auxiliary_sensing/lib/hp_BH1750
	url = https://github.com/Starmbi/hp_BH1750.git
[submodule "auxiliary_sensing/lib/Adafruit_SHT31"]
	path = auxiliary_sensing/lib/Adafruit_SHT31
	url = https://github.com/adafruit/Adafruit_SHT31.git
[submodule "auxiliary_sensing/lib/Adafruit_BusIO"]
	path = auxiliary_sensing/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
